/* ========================== */
/* ------- VARIABLES -------- */
/* ========================== */

:root {
  /* == SIZING == */
  --content__width--desktop: 14.8125rem; /* 237px */
  --content__padding--desktop: 2rem; /* 32px */
  --content__width--mobile: 18.4375rem; /* 295px */
  --content__padding--mobile: 1.5rem; /* 24px */
  --content__radius: 0.5rem;

  /* == COLOR == */
  --color__page__bg: #F2EAE2; 
  --color__product__bg: #ffffff;
  --color__text--dark: #1C232B;
  --color__text--medium: #6C7289;
  --color__text--light: #ffffff;
  --color--highlights: #3D8168;
  --color--hover: #1A4032;
 
  /* == FONT == */
  /* 'highlight' is used to emphasise product name & large price */
  --highlight__font: "Fraunces", serif;
  --highlight__font-size: 2rem; /* 32px */
  --highlight__font-weight: 700; /* bold */ 
  --highlight__line-height: 1; /* 32px */
  --highlight__letter-spacing: normal; /* 0 */
  
  /* 'default body font */ 
  --default__font: "Montserrat", sans-serif;
  --default__font-size: 0.875rem; /* 14px */
  --default__font-weight: 500; /* medium */ 
  --default__line-height: 1.4375rem; /* 23px */
  --default__letter-spacing: normal; /* 0 */

  /* button */
  --btn__line-height: normal; /* auto */
  --btn__font-weight: 700; /* bold */ 

  /* category(PERFUM) */
  --category__font-size: 0.75rem; /* 12px */
  --category__font-weight: 700; /* bold */ 
  --category__line-height: normal; /* auto */
  --category__letter-spacing: 0.3125rem; /* 5px */

  /* small price */
  --small-price__font-size: 0.8125rem; /* 13px */
}

/* ====================== */
/* ------- RESET -------- */
/* ====================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* ===================================== */
/* ------- DESIGN (Mobile first) -------- */
/* ===================================== */

/* == global design == */
body {
  font-family: var(--default__font);
  font-size: var(--default__font-size);
  font-weight: var(--default__font-weight);
  line-height: var(--default__line-height);
  letter-spacing: var(--default__letter-spacing);
  background-color: var(--color__page__bg);
  color: var(--color__text--medium);
}

.layout {
  display: flex;
  flex-direction: column;
}

/* == Re-usable block styles == */
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* == Unique block styles == */
.product {
  max-width: 95vw;
  margin-top: auto;
  margin-bottom: auto;
  max-width: min(calc(var(--content__width--mobile) + (var(--content__padding--mobile) * 2)), 95vw);
  border-radius: 10px;
  overflow: hidden;
}

.product__details {
  background-color: var(--color__product__bg);
  padding: var(--content__padding--mobile);
}

.product__category {
  font-size: var(--category__font-size);
  font-weight: var(--category__font-weight); 
  line-height: var(--category__line-height);
  letter-spacing: var(--category__letter-spacing);
}

.product__name, .product__price--large {
  font-family: var(--highlight__font);
  font-size: var(--highlight__font-size);
  font-weight: var(--highlight__font-weight);
  line-height: var(--highlight__line-height);
  letter-spacing: var(--highlight__letter-spacing);
}

.product__name {
  color: var(--color__text--dark);
  padding-top: 1.25rem;
  padding-bottom: 1.5rem;
}

.product__details, .product__name, .product__description {
  max-width: 100%;
}

.product__pricing {
  display: flex;
  align-items: center;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.product__price--large {
  color: var(--color--highlights);
  padding-right: 1.25rem;
}

.product__price--small {
  font-size: var(--small-price__font-size); 
}

.product__btn {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: var(--btn__font-weight);
  line-height: var(--btn__line-height);
  background-color: var(--color--highlights);
  color: var(--color__text--light);
  border: none;
  padding: 1em 0;
  border-radius: 0.5rem;
}

.product__btn:hover {
  background-color: var(--color--hover);
}

.icon {
  margin-right: 1ch;
}

.attribution {
  margin-top: auto;
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* ============================== */
/* ------- Ichigo Design -------- */
/* ============================== */

.ichigo-body {
  font-family: "Noto sans";
  background-color: black;
}

.ichigo--product {
  border-radius: 0;
}

.ichigo--picture {
    position: relative;
    background-color: #f88d2a;
}

.ichigo--kurasaki {
  position: absolute;
  width: 1ch;
  word-break: break-all;
  font-family: "Abril Fatface";
  font-size: 1.8rem;
  line-height: 1.8rem;
  background-color: #1335a9;
  padding: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ichigo--product__details {
  background-color: white;
}

.ichigo--attributes {
  margin: 1rem 0;
}

.ichigo--attribute {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 0.2em;
}

.ichigo--ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ichigo--btn {
  background-color: #1335a9;
  border-radius: 0;
}

/* ========================================= */
/* ------- Adjust for large screens -------- */
/* ========================================= */

@media (min-width: 48rem) {
  .product {
    flex-direction: row;
    align-items: stretch;
    max-width: calc((var(--content__width--desktop) + (var(--content__padding--desktop) * 2)) * 2);
  }

  .picture {
    display: flex;
    width: 50%;
  }

  .picture > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .product__details {
    max-width: 50%;
    height: 100%;
    padding: var(--content__padding--desktop);
  }

  .ichigo--kurasaki {
    font-size: 3rem;
    line-height: 3rem;
  }
  
}